      <!-- START FOOTER  -->
		<!--  FOOTER WIDGET AREA -->

        <section class="footer-widget-area footer-widget-area-bg">

            <div class="container">
                    <div class="row">
                        
                        
                        <div class="col-md-4 col-sm-12">
    
                            <div class="footer-widget">
    
                                <div class="sidebar-widget-wrapper">                                         
    
                                    <div class="textwidget">
                                        
                                        <img src="static/images/logo-footer.png" height="50" width="50" alt="" />
                                        
                                        <p>Créé le 06 Août 2004, est une équipe professionnelle donnant à ses clients son savoir-faire pour les accompagner dans toutes les étapes de leurs projets.</p>
                                        
                                        <p><i class="fa fa-envelope-o fa-footer"></i> <a href="#">catep@catep.ci</a></p>
                                        <p><i class="fa fa-envelope-o fa-footer"></i> <a href="#">osiaba@catep.ci</a></p>
                                        
                                        <p><i class="fa fa-location-arrow fa-footer"></i> Abidjan, Cocody</p>
                                        
                                        <p><i class="fa fa-phone fa-footer"></i> +225 2722444553 / 0707220309</p>
    
                                    </div>
    
                                </div> <!-- end .footer-widget-wrapper  -->
    
                            </div> <!--  end .footer-widget  -->
    
                        </div> <!--  end .col-md-3 col-sm-6 -->
                        
    
                        <div class="col-md-4 col-sm-12">
    
                            <div class="footer-widget clearfix">
                                
                                <div class="sidebar-widget-wrapper">
    
                                    <div class="footer-widget-header clearfix">
                                        <h3>LIENS CONNEXES</h3>
                                    </div>  <!--  end .footer-widget-header --> 
    
                                  
                                    <ul class="footer-useful-links">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-caret-right fa-footer"></i>
                                                Accessibilité
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-caret-right fa-footer"></i>
                                                Politique
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-caret-right fa-footer"></i>
                                                Assurance
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-caret-right fa-footer"></i>
                                                Scooters de mobilité
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-caret-right fa-footer"></i>
                                                Bénévole
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-caret-right fa-footer"></i>
                                                Collecter de l'argent
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-caret-right fa-footer"></i>
                                                Faire un don
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-caret-right fa-footer"></i>
                                                Travaille pour nous
                                            </a>
                                        </li>
    
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-caret-right fa-footer"></i>
    
    
                                                Nos campagnes
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-caret-right fa-footer"></i>
    
    
                                                Soins en cas de crise
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-caret-right fa-footer"></i>
                                                Mettre fin à la solitude
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-caret-right fa-footer"></i>
                                                Aide à la participation 
                                            </a>
                                        </li>
                                    </ul>  
                                                                    
    
                                </div> <!--  end .footer-widget  -->        
                            
                            </div> <!--  end .footer-widget  -->            
    
                        </div> <!--  end .col-md-3 col-sm-6 -->
                        
                        
                        <div class="col-md-4 col-sm-12">
    
                            <div class="footer-widget">
    
                                <div class="sidebar-widget-wrapper">
    
                                    <div class="footer-widget-header clearfix">
                                        <h3>HORAIRES D'OUVERTURES</h3>
                                    </div>  <!--  end .footer-widget-header --> 
    
                                    <ul class="opening-shedule">
                                        <li class="clearfix">
                                            <span> Samedi - Mardi : </span>
                                            <div class="pull-right"> 6.00 AM - 10.00 PM</div>                                            
                                        </li>
                                        <li>
                                            <span> Mercredi - Jeudi : </span>
                                            <div class="pull-right"> 8.00 AM - 6.00 PM</div>                                            
                                        </li>
                                        <li>
                                            <span> Vendredi :</span>
                                            <div class="pull-right"> 6.00 AM - 10.00 PM</div>                                            
                                        </li>
                                        <li>
                                            <span> Samedi :</span>
                                            <div class="pull-right"> Closed</div>                                            
                                        </li>                                        
                                    </ul>
    
                                </div> <!-- end .footer-widget-wrapper  -->
    
                            </div> <!--  end .footer-widget  -->
    
                        </div> <!--  end .col-md-3 col-sm-6 -->
                                                
                        
                        
                    </div> <!-- end row  -->
    
                </div> <!-- end container  -->
    
            </section> <!--  end .footer-widget-area  -->
    
            <!--FOOTER CONTENT  -->
    
             <section class="footer-contents">
    
                <div class="container">
    
                    <div class="row clearfix">
    
                        <div class="col-md-6 col-sm-12">
                            <p class="copyright-text"> Copyright © 2023. All Right Reserved - by theo </p>
                                                      
                        </div>  <!-- end .col-sm-6  -->
    
                       
                        <div class="col-md-6 col-sm-12 hidden-sm hidden-xs clearfix">
                            
                                        <div class="social-icons">
                                            
                                            <a href="#">
                                             <i class="fa fa-facebook"></i>
                                            </a>
                                            
                                            <a href="#">
                                             <i class="fa fa-twitter"></i>
                                            </a>
                                            
                                            <a href="#">
                                             <i class="fa fa-pinterest-p"></i>
                                            </a>
                                            
                                            <a href="#">
                                             <i class="fa fa-instagram"></i>
                                            </a>
                                            
                                            <a href="#">
                                             <i class="fa fa-linkedin"></i>
                                            </a>
                                            
                                        </div>                                        
                             
                        </div>
    
                    </div>
    
                </div>
    
            </section>
    
    
       
       <!-- END FOOTER  -->
    